@charset "UTF-8";
@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    word-spacing: 0px;
    word-wrap: break-word; 
    box-sizing: border-box;
    font-family: 'Quicksland', sans-serif;
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin: 0px;
}
a {
    text-decoration: none;
}
/* Header */
header {
    display: flex;
    background-color: #211D50 ;
    color: white;
    padding: 20px;
    width: 100%;
}
.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1162px; 
    margin: 0 auto;
    height: 80px; 
}
.name_product h1 {
    justify-content: start;
    align-items: center;
    font-size: 3em; 
    color: white;
}
.button_one {
    justify-content: end;
}
.button_one button {
    padding: 15px 35px;
    background-color: #D54545;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em; 
    transition: transform .2s ease;
}
.button_one button:hover {
    color: #211D50;
    transform: scale(1.03);
}
/* Main */
main {
    display: flex;
    flex: 1;
    color: black;
    padding: 20px;
    width: 100%;
    background-image: linear-gradient(#298d76 80%, #71B0A3);
}
.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1162px; 
    margin: 0 auto; 
}
/* SECTION ONE */
.sec_one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    padding: 30px;
}
.imagem_cel {
    display: none;
}
.descrição {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.frase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
}
.p_name {
    hyphens: auto;
    font-size: 1.3em;
}
h3 {
    margin-top: 40px;
}
.p_name p {
    margin-top: 25px;
}
.button_two button{
    padding: 25px 45px;
    background-image: linear-gradient(#FFF84F 50%, #fdcf03bb 50%);
    font-weight: 500;
    color: #211D50;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.599);
    cursor: pointer;
    font-size: 2em; 
    margin-top: 60px;
    margin-bottom: 60px;
    transition: transform .2s ease;
}
.button_two button:hover {
    color: #266155;
    transform: scale(1.03);
}
.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
/* SECTION TWO */
.sec_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
}
.imagem_certifications {
    display: flex;
    justify-content: center;
}
.p_certifications {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: .9em;
    text-align: center;
}
/* SEC STARS */
.sec_stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.stars {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.stars p {
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 1.3em;
}
.img_stars {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}
/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    color: white;
    width: 100%;
    height: auto;
    border-top: #0e0c2213 1px solid;
}
.container_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.div_footer_one {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
.div_footer_a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_footer_b {
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 {
    padding: 10px;
}
.div_footer_two {
    display: flex;
}
footer div p a {
    color: white;
}
footer h4 a {
    color: white;
    letter-spacing: 0px;
}
/* Media Query para telas menores (até 768px) */
@media (max-width: 498px) {
    /* Header */
    header {
        display: none;
    }
    .imagem {
        display: none;
    }
    /* SECTION ONE */
    .sec_one {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 0px;
    }
    .imagem_cel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #a_cel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #img_cell {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    #a_cel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .frase {
        margin-top: 10px;
    }
    h3 {
        font-size: 20px;
    }
    .p_name p {
        margin-top: 15px;
        font-size: 0.8em;
    }
    .button_two button {
        padding: 25px 55px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    /* SECTION TWO */
    .img_sec_two {
        width: 80%;
        height: auto;
    }
    .p_certifications {
        margin-top: 10px;
        font-size: .8em;
        text-align: center;
    }
    /* SECTION STARS */
    .stars {
        flex-direction: column;
        font-size: .9em;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .stars p {
        font-size: 1em;
    }
    .img_stars {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 100px;
    }
    /* SECTION FOOTER */
    .container_footer {
        font-size: 0.6em;
        height: auto;
        text-align: center;
    }
    .div_footer_one {
        flex-direction: row;
    }
    footer div p  {
        font-size: 1.2em;
        letter-spacing: 0px;
    }
    h4 {
        padding: 5px;
    }
}
@media (min-width: 499px) and (max-width: 768px) {
    /* Header */
    header {
        display: none;
    }
    .imagem {
        display: none;
    }
    /* SECTION ONE */
    .sec_one {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .imagem_cel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #a_cel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #img_cell {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80%;
    }
    #a_cel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .frase {
        margin-top: 10px;
    }
    .p_name p {
        margin-top: 15px;
    }
    .button_two button {
        padding: 25px 55px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    /* SECTION TWO */
    .p_certifications {
        margin-top: 20px;
        margin-bottom: 10;
        font-size: 1em;
        text-align: center;
    }
    /* SECTION STARS */
    .sec_stars {
        margin-top: 50px;
    }
    .stars {
        flex-direction: column;
        font-size: 1em;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .img_stars {
        margin-left: 5px;
        margin-right: 5px;
        width: 70px;
    }
    /* SECTION FOOTER */
    .container_footer {
        font-size: 0.6em;
        height: auto;
        text-align: center;
    }
    footer div p  {
        font-size: 1.3em;
        letter-spacing: 0px;
    }
    h4 {
        font-size: 1em;
        padding: 5px;
    }
}
@media (min-width: 769px) and (max-width: 1179px) {
    /* HEADER */
    .container_header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: .7em;
    }
    .name_product h1 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 5em;
    }
    .button_one {
        display: none;
    }
    /* MAIN */
    /* SECTION ONE */
    .sec_one {
        padding-left: 30px;
    }
    #img_one {
        width: 100%;
    }
    .frase {
        margin-top: 30px;
    }
    .p_name p {
        margin-top: 15px;
        font-size: 0.8em;
    }
    .button_two button {
        padding: 20px 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .button_buy {
        display: flex;
        justify-content: center;
    }
    .button_buy button {
        padding: 25px 85px;
        font-size: 1.8em; 
    }
    /* SECTION TWO */
    /* SECTION STARS */
    .sec_stars {
        margin-top: 50px;
    }
    .stars {
        flex-direction: column;
        font-size: .9em;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .img_stars {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 150px;
    }
    /* SECTION FOOTER */
    .container_footer {
        font-size: 0.8em;
        height: auto;
        text-align: center;
    }
    footer div p  {
        font-size: 1.3em;
        letter-spacing: 1px;
    }
    .div_footer_one h4 {
        font-size: 1.2em;
        padding: 10px;
    }
}